@use './base/variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #18181e;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #dad7ff;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  background: vars.$accent-color;
  padding: 10px 20px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: vars.$accent-color;
}

ul, p {
  margin: 0;
}

button {
  padding: 1.6rem 1rem;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: vars.$dark-color;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

#main {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.main-background {
  position: absolute;
  top: 2rem;
  right: 30%;
  width: 40vw;
  height: 100vh;
  max-height: 100vh;
  background: url('../assets/react.svg') no-repeat center;
  background-size: contain;
  opacity: 0.2;
  z-index: -1;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.loading-wrapper, .error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  .loading, .error {
    font-size: 30px;
    letter-spacing: 5px;
    color: #fff;
  }
}