.useMemo {
  &__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__block {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #212128;
    padding: 2rem 4rem;
    border-radius: 15px;
    gap: 1rem;
  }

  &__input {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    background: #18181f;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: 1px solid #464646;
  }

  &__span {
    font-size: 20px;
    color: #fff;
  }
  
  &__count {
    color: #fff;
    font-size: 30px;
  }

  &__value {
    color: rgb(122, 74, 255);
    font-size: 30px;
  }

  &__button {
    margin-top: 1rem;
    border: none;
    outline: 1px solid #4d4d4d;
    border-radius: 5px;
    background: rgb(122 74 255 / 10%);
    transition: all ease-in-out 0.3s;

    &:hover {
      background: rgb(122 74 255 / 41%);
    }
  }
}