@use '../../sass/base/variables' as vars;
@use '../../sass/base/mixins' as mixins;

.hero {
  min-height: 100vh;
  max-width: 1600px;
  margin: auto;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  // @media (min-width: 2000px) {
  //   max-width: 1800px;
  // }

  .wrapper {
    padding: 100px 0;
    width: 100%;
  }

  &__text {
    text-align: center;
  }

  &__title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 6px;

    &-accent {
      color: vars.$secondary-color;
    }

    @media (max-width: 1200px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 25px;
    color: vars.$main-color;
    margin-top: 1rem;
    padding: 0 10px;

    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }

  &__cards {
    margin-top: 4rem;
    
    @include mixins.card-container;
  }
}