.useCallback {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }

  &__count, &__otherValue {
    color: #fff;
    font-size: 20px;
  }

  &__actions {
    width: 300px;
    padding: 1rem 0;

    &-button {
      margin-top: 1rem;
      border: none;
      outline: 1px solid #4d4d4d;
      border-radius: 5px;
      background: rgb(122 74 255 / 10%);
      transition: all ease-in-out 0.3s;
  
      &:hover {
        background: rgb(122 74 255 / 41%);
      }
    }
  }

  .child {
    color: rgb(122, 74, 255);
    font-size: 20px;
    font-weight: 700;
  }
}